{% extends "base.html" %}


<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web_stylesheet.css') }}">
        <title>Home</title>
    </head>

    {% block page_content %}



        <div id="stage">
            <div id="overlay"></div>
                <img class="mySlides" src="{{ url_for('static', filename='images/' + 'Oman- front2.jpg') }}" style="width:100%">
                <img class="mySlides" src="{{ url_for('static', filename='images/' + 'Georgia- front2.jpg') }}" style="width:100%">
                <img class="mySlides" src="{{ url_for('static', filename='images/' + 'Jordan- front2.jpg') }}" style="width:100%">
                <img class="mySlides" src="{{ url_for('static', filename='images/' + 'UAE- front2.jpg') }}" style="width:100%">
                


            <div class="text-overlay">
                <P id="Main-tittle">RB REPS</P>
                <P id="Sub-tittle">Representing amazing DMC'S across the world</P>
            </div>

        </div>



        <script>

            window.addEventListener("DOMContentLoaded", function(e) {
                    
              var stage = document.getElementById("stage");
              var fadeComplete = function(e) { stage.appendChild(arr[0]); };
              var arr = stage.getElementsByTagName("img");
              for(var i=0; i < arr.length; i++) {
                arr[i].addEventListener("animationend", fadeComplete, false);
              }
          
            }
            , false);
          
        </script>

    {% endblock %}



</html>